
# Copyright (c) 2019-2021, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#
#
# Changes from Qualcomm Technologies, Inc. are provided under the following license:
# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# SPDX-License-Identifier: BSD-3-Clause-Clear

import /vendor/etc/init/hw/init.lenovo.common.rc

on early-init
    export MEMTAG_OPTIONS off

on boot

    chown system /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/990000.i2c/i2c-0/0-0038/trusted_touch_enable
    chown system /sys/devices/platform/soc/990000.spi/spi_master/spi0/spi0.0/trusted_touch_enable
    chmod 0660 /sys/devices/platform/soc/990000.spi/spi_master/spi0/spi0.0/trusted_touch_enable
    # Speaker id
    chown media audio /sys/kernel/spk_id_gpio_level/spk_id_level
    # rkp_md5
    chown root shell /sys/kernel/rkp_md5/rkp_md5
    #Add for mpss and cnss ssr
    chown system system /sys/class/remoteproc/remoteproc3/recovery
    chmod 0664 /sys/class/remoteproc/remoteproc3/recovery
    write /sys/class/remoteproc/remoteproc3/recovery enabled
    write /sys/kernel/cnss/recovery 1

on property:vendor.display.lcd_density=640
    setprop dalvik.vm.heapgrowthlimit 256m

on property:sys.boot_completed=1 && property:ro.vendor.build.type=userdebug
    mkdir /mnt/vendor/logfs 0644 system system
    mount vfat /dev/block/by-name/logfs /mnt/vendor/logfs rw wait noatime

on property:sys.RemotelyProvisionedKey.fetch.completed=1
    setprop ro.odm.lenovo.attestationkey ${sys.RemotelyProvisionedKey.fetch.completed}

service setwlansardsi0 /vendor/bin/setwlansardsi0.sh
    disabled
    user root
    oneshot
    group root root

service setwlansardsi1 /vendor/bin/setwlansardsi1.sh
    disabled
    user root
    oneshot
    group root root

service setwlansardsi2 /vendor/bin/setwlansardsi2.sh
    disabled
    user root
    oneshot
    group root root

service setwlansardsi3 /vendor/bin/setwlansardsi3.sh
    disabled
    user root
    oneshot
    group root root

service setwlansardsi4 /vendor/bin/setwlansardsi4.sh
    disabled
    user root
    oneshot
    group root root

on property:vendor.lenovo.game_mode=1
    write /sys/devices/system/cpu/cpu0/thermal/control 300
    restart thermal-engine

on property:vendor.lenovo.game_mode=0
    write /sys/devices/system/cpu/cpu0/thermal/control 0
    restart thermal-engine
